@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
div,
a {
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #020617;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-corner {
	background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

@layer base {
	body {
		@apply bg-background-dark font-color;
		font-family: 'Poppins', sans-serif;
	}

	h1 {
		@apply text-2xl font-semibold w-fit;
	}

	h2 {
		@apply text-xl font-semibold w-fit;
	}

	h3 {
		@apply text-lg font-semibold w-fit;
	}
}

.pageContainer {
	@apply max-w-7xl m-auto;
}

.font-color {
	@apply text-slate-200;
}

.card {
	@apply border border-style bg-primary shadow-xl rounded-lg transition-all duration-200 ease-in-out hover:bg-secondary;
}

.border-style {
	@apply border-solid border-slate-700;
}

.strokeWave {
	animation: strokeWaveAnimation 0.8s ease-in-out infinite;
}

.strokeWave:nth-child(odd) {
	animation-delay: 0.2s;
}

@keyframes strokeWaveAnimation {
	50% {
		height: 30%;
	}

	100% {
		height: 100%;
	}
}
