@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-900;
		color: white;
		font-family: 'Poppins', sans-serif;
	}
}

.coloredShadow {
	box-shadow: 0 5px 15px #ec4899;
}
